/* For Mobile */
.Header {
    margin: 0;
    height: 56px;
    background-color: #393939;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    color: #393939;
}

.Logo {
    height: 100%;
}

/* For Laptop */
@media (min-width: 700px) {
    .Header {
    }

    .DrawerToggle {
        display: none;
    }

    .Logo {
        position: relative;
        left: 0;
        top: 0;
    }
} 